.triage__body {
    background-image: url("../images/iStock-1217878707.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.triage__content {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
}

.triage__tab-content {
    padding: 1em;
    border-radius: .25rem;
}

.triage__progress { 
    margin: 1em 0em 1em 0em;
}
